[data-page="_global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #3CB371;
}
[data-page="_global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #DAA520;
}
[data-page="_global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page="_global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #E07878;
}
[data-page="_global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #4682B4;
}
[data-page="_global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page="_global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #4169E1;
}
[data-page="_global_menu"][data-itemid="welcome_item7"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page="_global_menu"][data-itemid="welcome_item8"] > .bs-welcome-header {
  background-color: #E8926F;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


