<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<link rel="icon" type="image/png" href="images/logo_sbu/SUMSEL%20ARMY.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel list_data_penumpang search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN active_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="active{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="active" data-fieldname="active" >


	<label class="r-search-label control-label" for="{$labelfor_active}">
		{$label list_data_penumpang active }	</label>
	<div class="r-search-option">
		{$searchtype_active}
	</div>
	<div class="r-search-field">
		{$active_editcontrol}	</div>
	<div class="r-search-field">
		{$active_editcontrol1}
	</div>
	
</div>

{END active_fieldblock}
											
{BEGIN create_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_create_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="create_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="create_at" data-fieldname="create_at" >


	<label class="r-search-label control-label" for="{$labelfor_create_at}">
		{$label list_data_penumpang create_at }	</label>
	<div class="r-search-option">
		{$searchtype_create_at}
	</div>
	<div class="r-search-field">
		{$create_at_editcontrol}	</div>
	<div class="r-search-field">
		{$create_at_editcontrol1}
	</div>
	
</div>

{END create_at_fieldblock}
											
{BEGIN gender_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_gender}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="gender{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="gender" data-fieldname="gender" >


	<label class="r-search-label control-label" for="{$labelfor_gender}">
		{$label list_data_penumpang gender }	</label>
	<div class="r-search-option">
		{$searchtype_gender}
	</div>
	<div class="r-search-field">
		{$gender_editcontrol}	</div>
	<div class="r-search-field">
		{$gender_editcontrol1}
	</div>
	
</div>

{END gender_fieldblock}
											
{BEGIN nama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="nama" data-fieldname="nama" >


	<label class="r-search-label control-label" for="{$labelfor_nama}">
		{$label list_data_penumpang nama }	</label>
	<div class="r-search-option">
		{$searchtype_nama}
	</div>
	<div class="r-search-field">
		{$nama_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_editcontrol1}
	</div>
	
</div>

{END nama_fieldblock}
											
{BEGIN nik_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nik}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nik{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="nik" data-fieldname="nik" >


	<label class="r-search-label control-label" for="{$labelfor_nik}">
		{$label list_data_penumpang nik }	</label>
	<div class="r-search-option">
		{$searchtype_nik}
	</div>
	<div class="r-search-field">
		{$nik_editcontrol}	</div>
	<div class="r-search-field">
		{$nik_editcontrol1}
	</div>
	
</div>

{END nik_fieldblock}
											
{BEGIN nik_ktp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nik_ktp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nik_ktp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="nik_ktp" data-fieldname="nik_ktp" >


	<label class="r-search-label control-label" for="{$labelfor_nik_ktp}">
		{$label list_data_penumpang nik_ktp }	</label>
	<div class="r-search-option">
		{$searchtype_nik_ktp}
	</div>
	<div class="r-search-field">
		{$nik_ktp_editcontrol}	</div>
	<div class="r-search-field">
		{$nik_ktp_editcontrol1}
	</div>
	
</div>

{END nik_ktp_fieldblock}
											
{BEGIN no_telp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_no_telp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="no_telp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="no_telp" data-fieldname="no_telp" >


	<label class="r-search-label control-label" for="{$labelfor_no_telp}">
		{$label list_data_penumpang no_telp }	</label>
	<div class="r-search-option">
		{$searchtype_no_telp}
	</div>
	<div class="r-search-field">
		{$no_telp_editcontrol}	</div>
	<div class="r-search-field">
		{$no_telp_editcontrol1}
	</div>
	
</div>

{END no_telp_fieldblock}
											
{BEGIN posisi_jabatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_posisi_jabatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="posisi_jabatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="posisi_jabatan" data-fieldname="posisi_jabatan" >


	<label class="r-search-label control-label" for="{$labelfor_posisi_jabatan}">
		{$label list_data_penumpang posisi_jabatan }	</label>
	<div class="r-search-option">
		{$searchtype_posisi_jabatan}
	</div>
	<div class="r-search-field">
		{$posisi_jabatan_editcontrol}	</div>
	<div class="r-search-field">
		{$posisi_jabatan_editcontrol1}
	</div>
	
</div>

{END posisi_jabatan_fieldblock}
											
{BEGIN sbu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sbu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sbu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="sbu" data-fieldname="sbu" >


	<label class="r-search-label control-label" for="{$labelfor_sbu}">
		{$label list_data_penumpang sbu }	</label>
	<div class="r-search-option">
		{$searchtype_sbu}
	</div>
	<div class="r-search-field">
		{$sbu_editcontrol}	</div>
	<div class="r-search-field">
		{$sbu_editcontrol1}
	</div>
	
</div>

{END sbu_fieldblock}
											
{BEGIN update_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_update_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="update_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="update_at" data-fieldname="update_at" >


	<label class="r-search-label control-label" for="{$labelfor_update_at}">
		{$label list_data_penumpang update_at }	</label>
	<div class="r-search-option">
		{$searchtype_update_at}
	</div>
	<div class="r-search-field">
		{$update_at_editcontrol}	</div>
	<div class="r-search-field">
		{$update_at_editcontrol1}
	</div>
	
</div>

{END update_at_fieldblock}
											
{BEGIN vip_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_vip}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="vip{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="vip" data-fieldname="vip" >


	<label class="r-search-label control-label" for="{$labelfor_vip}">
		{$label list_data_penumpang vip }	</label>
	<div class="r-search-option">
		{$searchtype_vip}
	</div>
	<div class="r-search-field">
		{$vip_editcontrol}	</div>
	<div class="r-search-field">
		{$vip_editcontrol1}
	</div>
	
</div>

{END vip_fieldblock}
											
{BEGIN gff_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_gff}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="gff{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="gff" data-fieldname="gff" >


	<label class="r-search-label control-label" for="{$labelfor_gff}">
		{$label list_data_penumpang gff }	</label>
	<div class="r-search-option">
		{$searchtype_gff}
	</div>
	<div class="r-search-field">
		{$gff_editcontrol}	</div>
	<div class="r-search-field">
		{$gff_editcontrol1}
	</div>
	
</div>

{END gff_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
