<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<link rel="icon" type="image/png" href="images/logo_sbu/SUMSEL%20ARMY.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel pengajuan_ticket_dtl search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_detail_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_detail}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_detail{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_detail" data-fieldname="id_detail" >


	<label class="r-search-label control-label" for="{$labelfor_id_detail}">
		{$label pengajuan_ticket_dtl id_detail }	</label>
	<div class="r-search-option">
		{$searchtype_id_detail}
	</div>
	<div class="r-search-field">
		{$id_detail_editcontrol}	</div>
	<div class="r-search-field">
		{$id_detail_editcontrol1}
	</div>
	
</div>

{END id_detail_fieldblock}
											
{BEGIN req_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_req_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="req_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="req_id" data-fieldname="req_id" >


	<label class="r-search-label control-label" for="{$labelfor_req_id}">
		{$label pengajuan_ticket_dtl req_id }	</label>
	<div class="r-search-option">
		{$searchtype_req_id}
	</div>
	<div class="r-search-field">
		{$req_id_editcontrol}	</div>
	<div class="r-search-field">
		{$req_id_editcontrol1}
	</div>
	
</div>

{END req_id_fieldblock}
											
{BEGIN nik_penumpang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nik_penumpang}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nik_penumpang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="nik_penumpang" data-fieldname="nik_penumpang" >


	<label class="r-search-label control-label" for="{$labelfor_nik_penumpang}">
		{$label pengajuan_ticket_dtl nik_penumpang }	</label>
	<div class="r-search-option">
		{$searchtype_nik_penumpang}
	</div>
	<div class="r-search-field">
		{$nik_penumpang_editcontrol}	</div>
	<div class="r-search-field">
		{$nik_penumpang_editcontrol1}
	</div>
	
</div>

{END nik_penumpang_fieldblock}
											
{BEGIN nik_ktp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nik_ktp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nik_ktp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="nik_ktp" data-fieldname="nik_ktp" >


	<label class="r-search-label control-label" for="{$labelfor_nik_ktp}">
		{$label pengajuan_ticket_dtl nik_ktp }	</label>
	<div class="r-search-option">
		{$searchtype_nik_ktp}
	</div>
	<div class="r-search-field">
		{$nik_ktp_editcontrol}	</div>
	<div class="r-search-field">
		{$nik_ktp_editcontrol1}
	</div>
	
</div>

{END nik_ktp_fieldblock}
											
{BEGIN nama_penumpang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_penumpang}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_penumpang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="nama_penumpang" data-fieldname="nama_penumpang" >


	<label class="r-search-label control-label" for="{$labelfor_nama_penumpang}">
		{$label pengajuan_ticket_dtl nama_penumpang }	</label>
	<div class="r-search-option">
		{$searchtype_nama_penumpang}
	</div>
	<div class="r-search-field">
		{$nama_penumpang_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_penumpang_editcontrol1}
	</div>
	
</div>

{END nama_penumpang_fieldblock}
											
{BEGIN posisi_penumpang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_posisi_penumpang}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="posisi_penumpang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="posisi_penumpang" data-fieldname="posisi_penumpang" >


	<label class="r-search-label control-label" for="{$labelfor_posisi_penumpang}">
		{$label pengajuan_ticket_dtl posisi_penumpang }	</label>
	<div class="r-search-option">
		{$searchtype_posisi_penumpang}
	</div>
	<div class="r-search-field">
		{$posisi_penumpang_editcontrol}	</div>
	<div class="r-search-field">
		{$posisi_penumpang_editcontrol1}
	</div>
	
</div>

{END posisi_penumpang_fieldblock}
											
{BEGIN sbu_penumpang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sbu_penumpang}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sbu_penumpang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="sbu_penumpang" data-fieldname="sbu_penumpang" >


	<label class="r-search-label control-label" for="{$labelfor_sbu_penumpang}">
		{$label pengajuan_ticket_dtl sbu_penumpang }	</label>
	<div class="r-search-option">
		{$searchtype_sbu_penumpang}
	</div>
	<div class="r-search-field">
		{$sbu_penumpang_editcontrol}	</div>
	<div class="r-search-field">
		{$sbu_penumpang_editcontrol1}
	</div>
	
</div>

{END sbu_penumpang_fieldblock}
											
{BEGIN no_telp_penumpang_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_no_telp_penumpang}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="no_telp_penumpang{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="no_telp_penumpang" data-fieldname="no_telp_penumpang" >


	<label class="r-search-label control-label" for="{$labelfor_no_telp_penumpang}">
		{$label pengajuan_ticket_dtl no_telp_penumpang }	</label>
	<div class="r-search-option">
		{$searchtype_no_telp_penumpang}
	</div>
	<div class="r-search-field">
		{$no_telp_penumpang_editcontrol}	</div>
	<div class="r-search-field">
		{$no_telp_penumpang_editcontrol1}
	</div>
	
</div>

{END no_telp_penumpang_fieldblock}
											
{BEGIN gender_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_gender}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="gender{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="gender" data-fieldname="gender" >


	<label class="r-search-label control-label" for="{$labelfor_gender}">
		{$label pengajuan_ticket_dtl gender }	</label>
	<div class="r-search-option">
		{$searchtype_gender}
	</div>
	<div class="r-search-field">
		{$gender_editcontrol}	</div>
	<div class="r-search-field">
		{$gender_editcontrol1}
	</div>
	
</div>

{END gender_fieldblock}
											
{BEGIN tipe_perjalanan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipe_perjalanan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipe_perjalanan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="tipe_perjalanan" data-fieldname="tipe_perjalanan" >


	<label class="r-search-label control-label" for="{$labelfor_tipe_perjalanan}">
		{$label pengajuan_ticket_dtl tipe_perjalanan }	</label>
	<div class="r-search-option">
		{$searchtype_tipe_perjalanan}
	</div>
	<div class="r-search-field">
		{$tipe_perjalanan_editcontrol}	</div>
	<div class="r-search-field">
		{$tipe_perjalanan_editcontrol1}
	</div>
	
</div>

{END tipe_perjalanan_fieldblock}
											
{BEGIN bandara_asal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bandara_asal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bandara_asal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="bandara_asal" data-fieldname="bandara_asal" >


	<label class="r-search-label control-label" for="{$labelfor_bandara_asal}">
		{$label pengajuan_ticket_dtl bandara_asal }	</label>
	<div class="r-search-option">
		{$searchtype_bandara_asal}
	</div>
	<div class="r-search-field">
		{$bandara_asal_editcontrol}	</div>
	<div class="r-search-field">
		{$bandara_asal_editcontrol1}
	</div>
	
</div>

{END bandara_asal_fieldblock}
											
{BEGIN bandara_tujuan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bandara_tujuan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bandara_tujuan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="bandara_tujuan" data-fieldname="bandara_tujuan" >


	<label class="r-search-label control-label" for="{$labelfor_bandara_tujuan}">
		{$label pengajuan_ticket_dtl bandara_tujuan }	</label>
	<div class="r-search-option">
		{$searchtype_bandara_tujuan}
	</div>
	<div class="r-search-field">
		{$bandara_tujuan_editcontrol}	</div>
	<div class="r-search-field">
		{$bandara_tujuan_editcontrol1}
	</div>
	
</div>

{END bandara_tujuan_fieldblock}
											
{BEGIN maskapai_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_maskapai}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="maskapai{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="maskapai" data-fieldname="maskapai" >


	<label class="r-search-label control-label" for="{$labelfor_maskapai}">
		{$label pengajuan_ticket_dtl maskapai }	</label>
	<div class="r-search-option">
		{$searchtype_maskapai}
	</div>
	<div class="r-search-field">
		{$maskapai_editcontrol}	</div>
	<div class="r-search-field">
		{$maskapai_editcontrol1}
	</div>
	
</div>

{END maskapai_fieldblock}
											
{BEGIN tanggal_penerbangan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_penerbangan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_penerbangan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="tanggal_penerbangan" data-fieldname="tanggal_penerbangan" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_penerbangan}">
		{$label pengajuan_ticket_dtl tanggal_penerbangan }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_penerbangan}
	</div>
	<div class="r-search-field">
		{$tanggal_penerbangan_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_penerbangan_editcontrol1}
	</div>
	
</div>

{END tanggal_penerbangan_fieldblock}
											
{BEGIN waktu_berangkat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_berangkat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_berangkat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="waktu_berangkat" data-fieldname="waktu_berangkat" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_berangkat}">
		{$label pengajuan_ticket_dtl waktu_berangkat }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_berangkat}
	</div>
	<div class="r-search-field">
		{$waktu_berangkat_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_berangkat_editcontrol1}
	</div>
	
</div>

{END waktu_berangkat_fieldblock}
											
{BEGIN waktu_tiba_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_tiba}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_tiba{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="waktu_tiba" data-fieldname="waktu_tiba" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_tiba}">
		{$label pengajuan_ticket_dtl waktu_tiba }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_tiba}
	</div>
	<div class="r-search-field">
		{$waktu_tiba_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_tiba_editcontrol1}
	</div>
	
</div>

{END waktu_tiba_fieldblock}
											
{BEGIN catatan_khusus_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_catatan_khusus}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="catatan_khusus{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="catatan_khusus" data-fieldname="catatan_khusus" >


	<label class="r-search-label control-label" for="{$labelfor_catatan_khusus}">
		{$label pengajuan_ticket_dtl catatan_khusus }	</label>
	<div class="r-search-option">
		{$searchtype_catatan_khusus}
	</div>
	<div class="r-search-field">
		{$catatan_khusus_editcontrol}	</div>
	<div class="r-search-field">
		{$catatan_khusus_editcontrol1}
	</div>
	
</div>

{END catatan_khusus_fieldblock}
											
{BEGIN bandara_asal_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bandara_asal_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bandara_asal_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="bandara_asal_p" data-fieldname="bandara_asal_p" >


	<label class="r-search-label control-label" for="{$labelfor_bandara_asal_p}">
		{$label pengajuan_ticket_dtl bandara_asal_p }	</label>
	<div class="r-search-option">
		{$searchtype_bandara_asal_p}
	</div>
	<div class="r-search-field">
		{$bandara_asal_p_editcontrol}	</div>
	<div class="r-search-field">
		{$bandara_asal_p_editcontrol1}
	</div>
	
</div>

{END bandara_asal_p_fieldblock}
											
{BEGIN bandara_tujuan_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bandara_tujuan_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bandara_tujuan_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="bandara_tujuan_p" data-fieldname="bandara_tujuan_p" >


	<label class="r-search-label control-label" for="{$labelfor_bandara_tujuan_p}">
		{$label pengajuan_ticket_dtl bandara_tujuan_p }	</label>
	<div class="r-search-option">
		{$searchtype_bandara_tujuan_p}
	</div>
	<div class="r-search-field">
		{$bandara_tujuan_p_editcontrol}	</div>
	<div class="r-search-field">
		{$bandara_tujuan_p_editcontrol1}
	</div>
	
</div>

{END bandara_tujuan_p_fieldblock}
											
{BEGIN maskapai_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_maskapai_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="maskapai_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="maskapai_p" data-fieldname="maskapai_p" >


	<label class="r-search-label control-label" for="{$labelfor_maskapai_p}">
		{$label pengajuan_ticket_dtl maskapai_p }	</label>
	<div class="r-search-option">
		{$searchtype_maskapai_p}
	</div>
	<div class="r-search-field">
		{$maskapai_p_editcontrol}	</div>
	<div class="r-search-field">
		{$maskapai_p_editcontrol1}
	</div>
	
</div>

{END maskapai_p_fieldblock}
											
{BEGIN tanggal_penerbangan_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_penerbangan_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_penerbangan_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="tanggal_penerbangan_p" data-fieldname="tanggal_penerbangan_p" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_penerbangan_p}">
		{$label pengajuan_ticket_dtl tanggal_penerbangan_p }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_penerbangan_p}
	</div>
	<div class="r-search-field">
		{$tanggal_penerbangan_p_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_penerbangan_p_editcontrol1}
	</div>
	
</div>

{END tanggal_penerbangan_p_fieldblock}
											
{BEGIN waktu_berangkat_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_berangkat_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_berangkat_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="waktu_berangkat_p" data-fieldname="waktu_berangkat_p" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_berangkat_p}">
		{$label pengajuan_ticket_dtl waktu_berangkat_p }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_berangkat_p}
	</div>
	<div class="r-search-field">
		{$waktu_berangkat_p_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_berangkat_p_editcontrol1}
	</div>
	
</div>

{END waktu_berangkat_p_fieldblock}
											
{BEGIN waktu_tiba_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_tiba_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_tiba_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="waktu_tiba_p" data-fieldname="waktu_tiba_p" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_tiba_p}">
		{$label pengajuan_ticket_dtl waktu_tiba_p }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_tiba_p}
	</div>
	<div class="r-search-field">
		{$waktu_tiba_p_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_tiba_p_editcontrol1}
	</div>
	
</div>

{END waktu_tiba_p_fieldblock}
											
{BEGIN catatan_khusus_p_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_catatan_khusus_p}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="catatan_khusus_p{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="catatan_khusus_p" data-fieldname="catatan_khusus_p" >


	<label class="r-search-label control-label" for="{$labelfor_catatan_khusus_p}">
		{$label pengajuan_ticket_dtl catatan_khusus_p }	</label>
	<div class="r-search-option">
		{$searchtype_catatan_khusus_p}
	</div>
	<div class="r-search-field">
		{$catatan_khusus_p_editcontrol}	</div>
	<div class="r-search-field">
		{$catatan_khusus_p_editcontrol1}
	</div>
	
</div>

{END catatan_khusus_p_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
